
body{
	background: #FAFAFA;
}


.header{
	border-bottom: 5px;
	margin-bottom: 15px;
	display: block;
	background-color: #FFF;
	height: 54px;
}
.container{
	padding-left: 100px; 
	position: relative;
	height: 300px;
	
	align-items: center;
}
.information{
	position: absolute;
	left: 280px;
	top: 80px;
	margin-left: 30px;
	color: #777;
}
.info1{
	
	top: 30px;
	color: #555;
	font-size: 20px;
	font-weight: bold;

}
.info2{
	
	bottom: 150px;
	height: 55px;
}
.item-info2{
	
	margin: 7px;
}
.avatar-img {

	position: relative;
	border-radius: 50%;
	border: 1px;
	width: 300px;
	background-image: url('./avata.jpg');
	width: 150px;
	height: 150px;
	background-size: contain;

}
.container{
	display: flex;
}
.table-img {
	display: flex;
	justify-content: center;
}
.table-img table{
	border: 5px;
}