

body{
	background: #FAFAFA;
	font-family: sans-serif;
}
.material-icons.md-48 { 
	font-size: 48px; 
	color: #555;
}
.hr{
	padding: 0px;
	margin: 0px;
}
.header{
	align-items: flex-end;
	padding: 0px;
	margin: 0px;
	display: flex;
	background-color: #FFF;
	height: 54px;
}
.title{
	font-weight: bold;
	font-size: 30px;
	color: #555;
}

.container{
	padding-left: 100px; 
	position: relative;
	height: 300px;
	justify-content: center;
	align-items: center;
}
.information{
	left: 280px;
	top: 80px;
	margin-left: 30px;
	color: #777;
}
.info1{
	
	top: 30px;
	color: #555;
	font-size: 20px;
	font-weight: bold;

}
.info2{
	
	bottom: 150px;
	height: 55px;
}
.item-info2{
	
	margin: 7px;
}
.avatar-img {

	position: relative;
	border-radius: 50%;
	border: 1px;
	width: 300px;
	background-image: url('./avata.jpg');
	width: 150px;
	height: 150px;
	background-size: contain;

}
.container{
	display: flex;
}
.table-img {
	display: flex;
	justify-content: center;
}



.material-icons.md-60 { 
	font-size: 60px; 
	color: #555;
}
.footer{
	display: flex;
	border-bottom: 5px;
	margin-bottom: 15px;
	display: block;
	height: 54px;
}
.dropdown-menu{
}
.hr2{
	